html {
    height: 100%;
    background-color: #011627;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    color: #fff;
    margin-bottom: 75px;
    font-weight: 600;
}

#root {
    width: 1300px;
    margin: 100px auto;
}

svg {
    overflow: visible;
    width: 100%;
    height: 55px;
}

.axis-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: lightslategrey;
}

.axis-container .axis {
    width: 50%;
    margin: 5px;
    border-bottom: 4px solid lightslategrey;;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
}

.time-format {
    display: inline-flex;
    align-items: center;
    color: lightslategrey;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    font-weight: 600;
}

.time-format span:first-child {
    width:50%
}

